<link rel="stylesheet" href="assets/css/purchaseConfirmation.css">
<link rel="stylesheet" href="assets/css/style.css">
<div class="purchase-description-container{{ travel.category }}">
    <h2 class="purchase-title">Description</h2>
    <div class="purchase-container">

        <div class="purchase-image-container">
            <img class="purchase-image" src="{{ travel.image }}" alt="travelImage">
        </div>

        <div class="purchase-details-container{{ travel.category }}">
            <span class="purchase-description-resume">resumé : </span><br>
            <p class="purchase-description">
                Destination : <span class="important-info-purchase">{{ travel.trip_name }}</span> <br>
                Continent : <span class="important-info-purchase">{{ travel.continent }}</span> <br>
                type : <span class="important-info-purchase">{{ travel.type }}</span> <br>
                pour : <span class="important-info-purchase">{{ travel.duration }}</span> <br>
                couverture Reseau : <span class="important-info-purchase">{{ travel.network_coverage }} </span><br>
                distance : <span class="important-info-purchase">{{ travel.distance }}</span>
            </p>
            <form action="validateTripSelection" method="post">
                <label class="purchase-email-label" for="stepmomEmail">
                    Veuillez enter l'email de votre belle-mère à qui vous souhaitez offrir ce voayge
                </label><br>
                <input class="purchase-email-input" type="email" name="stepmomEmail" id="stepmomEmail"><br>
                <input type="hidden" name="travelId" value="{{ travel.id }}">
                <input class="purchase-button{{ travel.category }}" type="submit" value="Valider">
            </form>
        </div>
    </div>
</div>
